<script>

    var mapID = document.getElementsByClassName("map").id;
    var map = L.map(mapID, {
            crs: L.CRS.Simple,
            minZoom: -5
        });;
        
    var bounds;
    var image;
    
    if (mapID === "faerun") {
        bounds = [[0,0], [6600,10200]];
        image = L.imageOverlay('https://media.wizards.com/2015/images/dnd/resources/Sword-Coast-Map_HighRes.jpg', bounds).addTo(map);
        map.fitBounds(bounds); 
    }
    
    else if (mapID === "adrilos") {
        bounds = [[0,0], [3072,2732]];
        image = L.imageOverlay('/img/Adrilos.jpeg', bounds).addTo(map);
        map.fitBounds(bounds); 
    }
    
    map.fitBounds(bounds);
    
    var popup = L.popup();

    function onMapClick(e) {
        popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
    }

    map.on('click', onMapClick);
</script>
