<footer>
  <p>The Notetaker’s Vault is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. ©Wizards of the Coast LLC.</p>
  <p>©Majesty Thinks is affiliated with Majesty Champion, LLC. All rights reserved.</p>
</footer>
