<script>
    const containerL = Array.from(document.querySelectorAll('.floaterL'));
    const containerR = Array.from(document.querySelectorAll('.floaterR'));
    const merged = [...containerL, ...containerR];

    merged.forEach(contain => {
        contain.setAttribute('id', 'zoom');
    });

    const zooms = Array.from(document.querySelectorAll('#zoom'));
    const img = Array.from(document.querySelectorAll('#zoom img'));

    console.log(merged);
    console.log(img);
    console.log(zooms);

    zooms.forEach(zoom => {
        zoom.addEventListener('mousemove', onZoom);
        zoom.addEventListener('mouseover', onZoom);
        zoom.addEventListener('mouseleave', offZoom);
    });

    function onZoom(e){
        var x = e.clientX - img[zooms.indexOf(this)].offsetLeft;
        var y = e.pageY - img[zooms.indexOf(this)].offsetTop;
        
        var a = e.clientX;
        var b = e.clientY;
        var c = e.pageX;
        var d = e.pageY;
        var f = e.target.offsetLeft;
        var g = e.target.offsetTop;
        var h = e.target.offsetWidth;
        var i = e.target.offsetHeight;
        var j = img[zooms.indexOf(this)].offsetLeft;
        var k = img[zooms.indexOf(this)].offsetTop;
        var l = img[zooms.indexOf(this)].offsetWidth;
        var m = img[zooms.indexOf(this)].offsetHeight;
        var n = img[zooms.indexOf(this)].width;
        var o = img[zooms.indexOf(this)].height;
        
        img[zooms.indexOf(this)].style.transformOrigin = `${x}px ${y}px`;
        img[zooms.indexOf(this)].style.transform = "scale(3)";
        
        console.log({x,y});
        console.log({a,b});
        console.log({c,d});
        console.log({f,g});
        console.log({h,i});
        console.log({j,k});
        console.log({l,m});
        console.log({n,o});
    }

    function offZoom(e){
        img[zooms.indexOf(this)].style.transformOrigin = 'center center';
        img[zooms.indexOf(this)].style.transform = "scale(1)";
    }
</script>
