@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&family=Zeyada&display=swap');

html, body {
	scroll-behavior: smooth;
}

body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    	
	/* cursor: url('/img/cursor.png'), auto !important; */
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum";
	-webkit-font-feature-settings: "lnum";
	font-feature-settings: "lnum";
	line-height: 1.8 !important;
	letter-spacing: .02em !important;
	orphans: 2;
	widows: 3;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 20px;
	
	/** COLORS **/
	--magenta: #ec008c;
	--magenta-80: #f033a3;
	--magenta-60: #f466ba;
	--magenta-40: #f799d1;
	--magenta-20: #fbcce8;
	--magenta-10: #fde5f3;
	--magenta-5: #fef2f9;

	--cyan: #00aeef;
	--cyan-80: #33bef2;
	--cyan-60: #66cef6;
	--cyan-40: #99def9;
	--cyan-20: #cceffc;
	--cyan-10: #e5f7fD;
	--cyan-5: #f2fbfe;
	--cyan-2_5: #f9fdff;

	--yellow: #ffef00;
	--yellow-80: #fff233;
	--yellow-60: #fff566;
	--yellow-40: #fff899;
	--yellow-20: #fffccc;
	--yellow-10: #fffde5;
	--yellow-5: #fffef2;

	--black: #231f20;
	--black-80: #4f4c4d;
	--black-60: #7b7979;
	--black-40: #a7a6a6;
	--black-20: #d3d2d2;
	--black-10: #e9e9e9;
	--black-5: #f4f4f4;
	--black-2_5: #f9f9f9;

	--navy: #273691;
	--navy-80: #535ea7;
	--navy-60: #7e86bd;
	--navy-40: #a9aed3;
	--navy-20: #d4d7e9;
	--navy-10: #e9ebf4;
	--navy-5: #f4f5fA;

	--orange: #ff6600;
	--orange-80: #ff8533;
	--orange-60: #ffa466;
	--orange-40: #ffc299;
	--orange-20: #ffe0cc;
	--orange-10: #fff0e5;

	--red: #ff1623;
	--red-80: #ff454f;
	--red-60: #ff737b;
	--red-40: #ffa2a7;
	--red-20: #ffd0d3;
	--red-10: #ffe8e9;

	--purple: #a20ed6;
	--purple-80: #b53ede;
	--purple-60: #c76ee6;
	--purple-40: #da9fef;
	--purple-20: #eccff7;
	--purple-10: #f6e7fb;

	--blue: #006fff;
	--blue-80: #338cff;
	--blue-60: #66a9ff;
	--blue-40: #99c5ff;
	--blue-20: #cce2ff;
	--blue-10: #e5f0ff;

	--teal: #00e5c0;
	--teal-80: #33eacd;
	--teal-60: #66efd9;
	--teal-40: #99f5e6;
	--teal-20: #ccfaf2;
	--teal-10: #e5fcf9;
	--teal-5: #f2fefc;

	--green: #5cff00;
	--green-80: #7dff33;
	--green-60: #9dff66;
	--green-40: #beff99;
	--green-20: #deffcc;
	--green-10: #efffe5;
	
	/** HEADINGS **/
	--h1-color: var(--blue);
	--h2-color: var(--black-80);
	--h3-color: var(--black-80);
	--h4-color: var(--black-80);
	--h5-color: var(--blue);
	--h6-color: var(--black-80);
	--h1-font: "Source Serif Pro", serif;
	--h2-font: "Source Sans Pro", serif;
	--h3-font: "Source Serif Pro", serif;
	--h4-font: "Source Serif Pro", serif;
	--h5-font: "Source Code Pro", sans-serif;
	--h6-font: "source Serif Pro", serif;
	--h1-line-height: 1.2;
	--h2-line-height: 1.2;
	--h3-line-height: 1.2;
	--h4-line-height: 1.2;
	--h5-line-height: var(--line-height-normal);
	--h6-line-height: var(--line-height-normal);
	--h1-size: 2em;
	--h2-size: 1.5em;
	--h3-size: 1.25em;
	--h4-size: 1em;
	--h5-size: .8em;
	--h6-size: .85em;
	--h1-weight: 300;
	--h2-weight: 300;
	--h3-weight: 700;
	--h4-weight: 500;
	--h5-weight: 700;
	--h6-weight: 900;
	    
	/** LINE HEIGHTS **/
	--line-height: 1.8;
	--line-height-normal: 1.8;
	--line-height-tight: 1.8;
	
	/** LINKS **/
	--link-color: var(--cyan);
	--link-color-hover: var(--blue);
	--link-unresolved-opacity: 0.4;
	
	/** LISTS **/
	--list-spacing: 0.25em;
	
	/** RADIUSES **/
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--radius-xl: 0px;
	
	/** TABLE **/
	--table-text-size: 1em;
	--table-column-max-width: 35em;
	
	/** TEXT **/
	--text-normal: var(--black-60) !important;
	--text-muted: var(--black-40);
	--text-faint: var(--black-20);
	--text-on-accent: white;
	--text-error: var(--red);
	--text-success: var(--green);
	--text-accent: var(--blue-80) !important;
	--text-accent-hover: var(--cyan);
	--text-selection: var(--cyan-5) !important;
	
	--normal-text: 300;
	--spacing-p: 1.5em;
	
	--font-default: "Source Sans Pro", sans-serif;
	--font-adaptive-smallest: 12px;
	--font-text-size: 20px;
	
	--ax3: var(--blue) !important;
	--background-secondary: var(--cyan-5) !important;
	--interactive-accent-hover: var(--cyan);
	
	--callout-content-padding: 0 1em;
	
	--checkbox-color: var(--blue);
	--checkbox-color-hover: var(--blue-40);
	--checkbox-radius: 0px;
	--checkbox-size: 18px;
	
	--link-decoration: none;
	--link-external-decoration: none;
	
	--list-indent: 3.5em;
	
	--hr-thickness: 1px;
	
	--tag-background: transparent;
	--tag-background-hover: transparent;
    
	.content {
		font-size: 20px;
		max-width: 800px !important;
		/*-webkit-user-select: none;
		-webkit-touch-callout: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;*/
	}
	
	/* a, div, span, a:hover, div:hover, span:hover{
		cursor: url('/img/cursor.png'), auto !important;
	} */
	
	.navbar {
		background-color: white;
		box-shadow: 0 0 10px 0 rgba(35, 31, 32, .15);
		color: var(--cyan) !important;
		position: fixed;
	}
	
	.filetree-sidebar {
		background-color: white;
		padding: 4em 0em 1em 3em !important;
	}

	/**** TYPOGRAPHY ****/
	.filetree-sidebar h1, .navbar h1 {
		font-family: "Source Sans Pro", sans-serif !important;
		font-size: 1em !important;
		font-weight: 700;
		letter-spacing: .1em !important;
		text-align: left !important;
	}
	
	.foldername-wrapper {
		color: var(--blue-60);
		font-family: "Source Sans Pro", sans-serif !important;
		font-size: .8em !important;
	}
	
	.inner-folder {
		font-size: 18px;
		padding: 0;
	}
	.inner-folder .inner-folder {
		padding-left: 20px;
	}
	
	.notelink {
		font-size: .8em !important;
		padding: 0 0 0 10px;
	}
	
	.filelist .notelink {
		margin-left: 20px;
	}
	
	.filename, .sitename, .toc-container li a {
		color: var(--blue-60) !important;
		font-family: "Source Sans Pro", sans-serif;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.05em;
		text-transform: none;
	}
	
	.fa {
		color: var(--blue);
	}
	
	.fa-sticky-note {
		display: none;
	}

	h1, .cm-header-1, .HyperMD-header-1 {
		letter-spacing: .02em !important;
	}

	h2, .cm-header-2, .HyperMD-header-2 {
		letter-spacing: .025em !important;
	}

	h3, .cm-header-3, .HyperMD-header-3 {
		letter-spacing: .025em !important;
	}

	h5, .cm-header-5, .HyperMD-header-5 {
		letter-spacing: 3px !important;
		text-transform: uppercase;
		margin-block-start: 2.5em !important;
	}

	h5:after, .HyperMD-header-5:after {
		background: var(--teal-20);
		background-image: linear-gradient(90deg, var(--blue), var(--cyan), var(--teal), var(--green), var(--yellow), var(--orange), var(--red), var(--magenta), var(--purple));
		content: "";
		display: inline-block;
		height: 2px;
		margin: 18px 9px 0;
		opacity: .4;
		position: absolute;
		width: 300px;
	}

	p, ol, ul {
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 300;
	}
	
	ol > li::marker, ul > li::marker {
		color: var(--blue-40);
	}
	
	ul > li.task-list-item {
		align-items: center;
		margin-left: -1.45em;
	}

	a:not(#button, .filename, .tag, .timeline-content a, .toc ul li a) {
		box-sizing: border-box;
		border-bottom: 2px solid transparent;
		color: var(--cyan) !important;
		font-family: "Source Code Pro", sans-serif;
		font-size: .8em;
		font-weight: 600;
		letter-spacing: .1em;
		text-transform: uppercase;
		text-decoration: none;
		text-decoration-line: none;
	}
	
	a:hover, .cm-underline:hover, .cm-url:hover {
		text-decoration: none !important;
		text-decoration-line: none !important;
	}

	a:not(#button, .leaflet-control-zoom-in, .leaflet-control-zoom-out, .navbar-inner a, .search-link):hover, .cm-hmd-internal-link:hover {
		box-sizing: border-box;
		border-bottom: 2px solid var(--cyan);
		border-image: linear-gradient(90deg, var(--blue), var(--cyan), var(--teal), var(--green), var(--yellow), var(--orange), var(--red), var(--magenta), var(--purple)) 1 !important;
		color: var(--blue) !important;
	}
	
	.leaflet-bar a:hover {
		background-color: white;
	}
	
	a.tag, .cm-hashtag {
		align-items: center;
		border: none !important;
		border-bottom: solid 2px var(--cyan) !important;
		border-radius: 0 !important;
		color: var(--black-40) !important;
		font-family: "Source Sans Pro", sans-serif;
		font-size: .9em;
		font-weight: 300;
		letter-spacing: .05em;
		line-height: 1.5;
		padding: 0;
		text-decoration:none !important;
		text-transform: none;
	}
	
	.attune {
		font-family: "FreightSans Pro", "Source Sans Pro", sans-serif;
		font-size: .9em;
		font-weight: 700;
		color: var(--blue);
	}
	
	.caps {
		background-color: var(--teal-20);
		background-image: linear-gradient(360deg,rgba(255, 255, 255, 0) 40%, var(--background-primary) 40%) !important;
		font-family: "FreightSans Pro", "Source Sans Pro", sans-serif;
		letter-spacing: .05em;
		text-transform: uppercase;
	}

	
	.caption {
		color: var(--black-40) !important;
		font-family: "FreightSans Pro", "Source Sans Pro", sans-serif;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: .1em !important;
		text-align: center;
		text-transform:uppercase;
	}
	
	.small {
		font-size: .8em;
		color: rgb(var(--callout-color)) !important;
	}
	
	.spoiler {
		opacity: 0.15;
		transition: 0.5s;
		color: var(--cyan);
	}

	.spoiler:hover {
		opacity: 1;
	}
	
	.status {
		font-family: "Source Sans Pro", sans-serif;
		font-size: .85em;
		font-weight: 800;
		letter-spacing: .1em;
		text-transform: uppercase;
	}

	.status.alive {
		color: var(--teal);
	}

	.status.dead {
		color: var(--red);
	}

	.status.missing {
		color: var(--purple);
	}

	.status.undead {
		color: var(--black);
	}

	.status.unknown {
		color: var(--cyan);
	}
	
	.tags {
		border: 1.5px solid var(--blue);
		border-image: linear-gradient(135deg, var(--blue), var(--cyan), var(--teal), var(--green), var(--yellow), var(--orange), var(--red), var(--magenta), var(--purple)) 1 !important;
		color: var(--blue);
		font-family: "FreightSans Pro", "Source Sans Pro", sans-serif;
		font-size: .6em;
		font-weight: 600;
		letter-spacing: .1em;
		margin-left: .25em;
		margin-right: .25em;
		padding: 3px 6px 4px;
		text-transform: uppercase;
	}
	
	.roboto {
		font-family: "Source Sans Pro", sans-serif !important;
	}
	
	.leaflet-container {
		background-color: transparent;
		border: 1px solid var(--black-10);
	}
}
/** BODY END **/

/** THEME LIGHT **/
.theme-light {
	--color-yellow: #ffd600;
	--color-orange: #f47920;
	--color-red: #ef373e;
	--color-pink: #ee3d8b;
	--color-purple: #a23f97;
	--color-blue: #0075bc;
	--color-cyan: #00a9b7;
	--color-green: #3cb14a;
}

/**** ASIDE ****/
main aside {
	border: 1px solid var(--blue);
	border-image: linear-gradient(135deg, var(--blue), var(--cyan), var(--teal), var(--green), var(--yellow), var(--orange), var(--red), var(--magenta), var(--purple)) 1 !important;
	border-top-width: 5px;
	clear: right;
	float: right;
	font-family: "Source Sans Pro", sans-serif;
	font-size: .8em;
	font-weight: 300;
	margin: 0 0 1.5em 1.5em;
	padding: 1em;
	width: 320px;
}

.aside-caption, .aside-data, .aside-header, .aside-navigation, .aside-title {
	padding-left: 12px;
	padding-right: 12px;
}

.aside-bkg {
	background-color: transparent;
	color: var(--blue);
	font-weight: 700;
	text-align: center;
}

.aside-data {
	display: flex;
	flex-direction: row;
	grid-column-gap: 1em;
}

.aside-header {
	color: var(--blue);
	font-size: 14px;
	letter-spacing: .25em;
	line-height: 1.25;
	margin: 1.5em 0 .5em;
	text-transform: uppercase;
}

.aside-header:after {
	background: var(--blue-20);
	background-image: linear-gradient(90deg, var(--blue), var(--cyan), var(--teal), var(--green), var(--yellow), var(--orange), var(--red), var(--magenta), var(--purple));
	content: "";
	display: block;
	height: 2px;
	margin-top: 3px;
	opacity: .4;
}

.aside-icon {
	align-self: center;
	flex: 0 0 auto;
	display: flex;
	height: 22px;
	width: 22px;
}

.aside-icon svg {
	fill: var(--blue);
}

.aside-item img:not(.emoji) {
	display: flex;
	margin: auto;
}

figcaption {
	font-size: .8em;
	font-weight: 600;
	text-align: center;
}

.aside-item-spacing {
	padding-bottom: 9px;
	padding-top: 9px;
}

.aside-item-spacing:hover {
    color: var(--blue);
}

.aside-label {
	flex-basis: 150px;
	font-weight: 700;
}

.aside-title {
	align-items: center;
	display: flex;
	font-size: 22px;
	gap: 0.25em;
	justify-content: center;
	letter-spacing: .03em;
	margin: 0;
	padding: 12px;
}

.aside-value:not(:first-child) {
	flex-basis: 200px;
}

.aside-value ul {
	margin: 0;
	padding-inline-start: 1em;
}

/** BACK TO TOP BUTTON **/
#button {
	background-color: var(--cyan);
	border-radius: 50%;
	padding: 0.25em;
	position: sticky;
	bottom: 30px;
	left: 95%;
	transition: background-color .3s, 
	opacity .5s, visibility .5s;
	z-index: 1000;

	--offset: 500px;
	place-self: end;
	margin-top: calc(100vh + var(--offset));
}

#button::after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='12' y1='19' x2='12' y2='5'%3E%3C/line%3E%3Cpolyline points='5 12 12 5 19 12'%3E%3C/polyline%3E%3C/svg%3E");
	position: relative;
	top: .2em;
}

.referred {
	border: none;
	padding: 0px;
	margin: 0;
}

/** BANNER **/
.banner {
	left: 0;
	right: 0;
	height: 240px;
	width: 100%;
	overflow: hidden;
}

.banner-image {
	position: relative;
	object-fit: cover;
	max-width: none;
	height: 100%;
	width: 100%;
}

.banner-icon {
	display: flex;
	font-size: 4em;
	position: relative;
	margin-top: calc(-.5em - 6px);
}

.icon-box{
	display: inline-flex;
	align-items: center;
	height: calc(1em + 12px);
	padding: 6px;
}

/** BLOCKQUOTE **/
blockquote {
	border-image: linear-gradient(135deg, var(--blue), var(--cyan), var(--teal), var(--green), var(--yellow), var(--orange), var(--red), var(--magenta), var(--purple)) 1 !important;
	border: 1px solid;
	border-left-width: 5px !important;
	margin: 1.5em auto 2em !important;
	padding: 2em !important;
}

blockquote:before {
	background-clip: text;
	background-image: linear-gradient(135deg, var(--purple), var(--blue), var(--cyan), var(--teal), var(--green)) !important;
	color: transparent;
	content: "“";
	font-family: "Source Serif Pro", serif;
	font-weight: 900;
	line-height: 1;
	position: absolute;
	-webkit-background-clip: text;
}

blockquote > p {
    margin-block-start: .5em !important;
    margin-block-end: .5em !important;
}

blockquote > :last-child:not(:only-child) {
    text-align: right;
}

/** CALLOUTS **/
.callout {
	background: transparent;
	border-radius: 0px;
	border: 1px solid rgba(var(--callout-color), .5);
	border-left: 5px solid rgba(var(--callout-color),1);
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1em;
	margin: 2em auto;
	padding: 1.5em;
}

.callout-title-inner {
	font-size: 22px;
	font-weight: 700;
	color: rgba(var(--callout-color), 1);
}

div.language-ad-summary .admonition-title::before, div.callout-summary .admonition-title::before {
	content: none;
	margin: 0 !important;
}

.callout[data-callout="addon"] {
	--callout-color: 255, 102, 0; /* orange */
	--callout-icon: lucide-puzzle;
}

.callout[data-callout="dream"] {
	--callout-color: 0, 229, 192; /* teal */
	border-image: linear-gradient(135deg, var(--teal), var(--cyan), var(--blue), var(--purple)) 1;
	--callout-icon: lucide-star;
}

.callout[data-callout="meta"] {
	--callout-color: 162, 14, 214; /* purple */
	--callout-icon: lucide-pin;
}

.callout[data-callout="overview"] {
	--callout-color: 0, 111, 255; /* blue */
	--callout-icon: lucide-book;
}

.callout[data-callout="recap"]  {
	display:none;
}

.callout[data-callout="spoilers"] {
	--callout-color: 162, 14, 214; /* purple */
	border-image: linear-gradient(135deg, var(--purple), var(--magenta), var(--red), var(--orange)) 1;
	--callout-icon: lucide-megaphone;
}

.callout[data-callout="summary"] {
	--callout-color: 0, 174, 239; /* cyan */
	--callout-icon: lucide-clipboard-list;
}

/****** PROFILE ******/
:is(.is-mobile,
.is-mobile .is-live-preview,
.is-live-preview) .callout[data-callout~=profile]:not([data-callout-metadata~=mobile]) {
  float: unset !important;
  max-width: 100%;
  margin: 0 !important;
  width: auto;
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-embed-block.cm-callout>.callout[data-callout~=profile],
.callout[data-callout~=profile] {
    border-image: linear-gradient(135deg, var(--blue), var(--cyan), var(--teal), var(--green), var(--yellow), var(--orange), var(--red), var(--magenta), var(--purple)) 1;
    --callout-color: 0, 111, 255;
    --callout-padding: 0;
    border: 1px solid var(--table, var(--background-modifier-border));
    border-top-width: 6px;
    border-image: linear-gradient(135deg, var(--blue), var(--cyan), var(--teal), var(--green), var(--yellow), var(--orange), var(--red), var(--magenta), var(--purple)) 1;
    box-shadow: none;
    margin-top: 1em;
    margin-left: 1em;
    width: 320px !important;
    max-width: 320px;
    float: right;
    padding: 1em 1em 1.25em !important;
    mix-blend-mode: unset;
}

.callout[data-callout~=profile] .callout-title {
    padding: 12px;
    justify-content: center;
}

.callout[data-callout~=profile].is-collapsed .callout-fold {
    border: 1px solid var(--hr, var(--background-modifier-border));
    padding: 5px 10px;
}

.callout[data-callout~=profile]:not(:hover):not(.is-collapsed) .callout-title {
    background-color: transparent;
}

.callout[data-callout~=profile]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]):not(:hover, .is-collapsed) > .callout-title {
    display: flex;
    gap: 0;
}

.callout[data-callout~=profile]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]).is-collapsed .callout-title {
    border: 1px solid var(--hr, var(--background-modifier-border));
    display: flex;
}

.callout[data-callout~=profile]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]) .callout-fold, .callout[data-callout~=profile]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]) .callout-title .callout-title-inner {
    display: unset;
    align-items: center;
    align-content: center;
    padding: 5px 10px;
}

.callout[data-callout~=profile]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]) .callout-fold {
    padding: unset;
    margin-top: auto;
    margin-bottom: auto;
}

.callout[data-callout~=profile]:is([data-callout-metadata~=show-title], [data-callout-metadata~=s-t]).is-collapsed .callout-fold {
    border: 0;
}

.callout[data-callout~=profile] .callout-content {
    padding: 0px;
    margin: 0;
    overflow-x: hidden;
}

.callout[data-callout~=profile] table,
.markdown-source-view.mod-cm6.is-readable-line-width .callout[data-callout~=profile] table {
    border: none !important;
    font-size: 0.8em;
    margin: 0 !important;
    margin-left: 0 !important;
    width: 100%;
    white-space: pre-line;
}

.callout[data-callout~=profile] thead>tr:last-child {
    border: none !important;
}

.callout[data-callout~=profile] tbody>tr:nth-child(odd),
.callout[data-callout~=profile] tbody>tr:hover,
[data-callout~=profile] tbody>tr>td:hover {
    background-color: transparent !important;
}

.callout[data-callout~=profile] table th {
    display:none;
}

.callout[data-callout~=profile] table td {
    border: none;
    font-weight: 300;
    white-space: pre-line;
    word-wrap: normal;
    word-break: normal;
    padding: 6px 0px !important;
    vertical-align: top;
}

.callout[data-callout~=profile] table td:first-child {
    width: 120px;
    max-width: 120px;
}

.callout[data-callout~=profile] table td strong {
    font-weight: 700;
}

.callout[data-callout~=profile] :is(p, table) {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0 !important;
}

.callout[data-callout~=profile] :is(h1, h2, h3, h4, h5, h6) {
    border-bottom: 1px solid var(--blue);
    border-image: linear-gradient(135deg, var(--blue), var(--cyan), var(--teal), var(--green), var(--yellow), var(--orange), var(--red), var(--magenta), var(--purple)) 1;
    color: var(--blue) !important;
    font-family: "Source Sans Pro", sans-serif !important;
    font-size: 14px;
    text-align: center;
    margin: 0 0 1em;
    padding: 24px 0 3px;
    font-weight: 700;
    letter-spacing: .25em;
    text-transform: uppercase;
}

.callout[data-callout~=profile] p, .callout[data-callout~=profile] .internal-embed, .callout[data-callout~=profile] img {
  margin: auto auto 1em;
  padding: auto;
  text-align: center;
}

/****** STATBLOCK ******/
.callout[data-callout="statblock"] {
	border-image: linear-gradient(90deg, var(--blue), var(--cyan), var(--teal), var(--green), var(--yellow), var(--orange), var(--red), var(--magenta), var(--purple)) 1;
	border-width: 1px;
	border-bottom-width: 5px;
	border-top-width: 5px;
	--callout-icon: lucide-fingerprint;
	display: block;
}

.callout[data-callout="statblock"] .callout-icon {
	margin-left: -0.5em;
	margin-right: 0.25em;
}

.callout[data-callout="statblock"] .callout-content {
	font-size: .7875em;
	column-count: 2;
	gap: 2em;
	margin-top: 1em;
}

.callout[data-callout="statblock"] .callout-content table {
	border: none !important;
	font-size: 1em;
	margin: 1em auto !important;
	width: 100%;
	max-width: 100%;
}

.markdown-rendered .callout[data-callout="statblock"] table tbody > tr,
.markdown-rendered .callout[data-callout="statblock"] table tbody > tr:hover {
	background-color: transparent !important;
	color: var(--black-60);
}

.markdown-rendered .callout[data-callout="statblock"] table thead > tr > th,
.markdown-rendered .callout[data-callout="statblock"] table tbody > tr > td {
	border: none !important;
	padding: 0 10px;
}

.markdown-rendered .callout[data-callout="statblock"] table thead > tr > th:first-child,
.markdown-rendered .callout[data-callout="statblock"] table tbody > tr > td:first-child {
	padding-left: 0px !important;
}

.markdown-rendered .callout[data-callout="statblock"] table thead > tr > th:last-child,
.markdown-rendered .callout[data-callout="statblock"] table tbody > tr > td:last-child {
	padding-right: 0px !important;
}

.callout[data-callout="statblock"] .callout-content h3 {
	color: var(--black-60) !important;
}

.callout[data-callout="statblock"] .callout-content h3:after{
	background: -webkit-linear-gradient(0deg, var(--orange) 0%, var(--red) 25%, var(--magenta) 75%, var(--purple) 100%) !important;
	clip-path: polygon(0 0, 0 100%, 100% 50%) !important;
	content: "";
	height: 3px;
	display: block;
	margin: 0.25em 0 !important;
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 50%) !important;
	width: 100%;
}

.callout[data-callout="statblock"] .callout-content hr {
	border: 1.5px solid var(--color-blue);
	border-image: linear-gradient(135deg, var(--blue), var(--cyan), var(--teal), var(--green), var(--yellow)) 1;
	margin: 1em auto;
	clip-path: polygon(0 0, 0 100%, 100% 50%) !important;
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 50%) !important;
}

/**** RECAPS ****/
.markdown-embed {
	padding-left: 2em;
}

.internal-embed .markdown-embed {
	border-left: 5px solid var(--teal);
}

.internal-embed .markdown-embed:before {
	color: var(--teal);
	content: "Recap";
	font-family: "Source Sans Pro", sans-serif;
	font-size: 22px;
	font-weight: 700;
}

/** CONTENT **/
.emoji {
	height: 1em;
}

.markdown-preview-view h1, .markdown-preview-view h2, .markdown-preview-view h3, .markdown-preview-view h4, .markdown-preview-view h5, .markdown-preview-view h6 {
	margin-block-start: 2em;
	margin-block-end: .5em !important;
}

hr {
	margin: 3em 0;
}

.markdown-rendered pre {
	display:none;
}

.session-navbar {
	display: flex;
	justify-content: space-between;
	margin: 2em auto 3em;
}

.session-navbar a.internal-link {
	color: var(--teal) !important;
}

/** DEFINITIONS **/
.definition {
	border: 1px solid var(--black-40);
	border-image: linear-gradient(90deg, var(--blue), var(--cyan), var(--teal), var(--green), var(--yellow), var(--orange), var(--red), var(--magenta), var(--purple)) 1;
	border-top-width: 5px;
	margin: 0 auto 2em;
	padding: 1.5em 2em;
	width: 88%;
}

.definition h3 {
	color: var(--blue) !important;
	margin-bottom: .25em;
}

.pronounce {
	font-family: "Source Sans Pro", sans-serif;
	font-size: .8em;
	color: var(--navy);
}

.definition hr {
	border-top: 1px solid var(--blue) !important;
	margin: .75em 0 1.5em;
}

.definition p {
	margin-bottom: 1.5em;
}

.definition hr.defNote {
	border-top: .5px solid var(--black-40) !important;
	margin-top: 2.75em;
	width: 50%;
}

.definition .small {
	font-family: "FreightSans Pro", "Source Sans Pro", sans-serif;
}

/** FILE TREE **/
.filetree-sidebar .logo {
	display: inline-block !important;
	width: 1.5em;
}

.search-button {
	border-color: var(--cyan) !important;
	border-radius: 0px;
}

.filetree-sidebar .search-button {
	margin: 2em auto 2em 0 !important;
	width: calc(100% - 1em);
}

.navbar .search-text, .search-text, .search-text span {
	color: var(--cyan);
	font-family: "Source Sans Pro", sans-serif;
	font-size: .8em;
}

.fa-search {
	color: var(--cyan);
}

/**** FOLDER NAVIGATION ****/
.notelink.active-note {
	background-color: var(--cyan-10) !important;
	transform: translateX(0px);
}

.notelink a:hover {
	text-decoration: none !important;
}

/** FOOTER **/
footer {
	font-family: "Source Sans Pro", sans-serif;
	font-size: .8em;
	font-style: italic;
	font-weight: 300;
	margin: 6em auto 1em;
}

/** FRONTMATTER **/
.frontmatter-container {
	background: none;
	border: none;
	border-bottom: 1px solid var(--black-20);
	border-radius: 0;
	color: var(--text-muted);
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 6em;
	padding: 1.5em 0;
}

.frontmatter-container .frontmatter-section {
	font-family: "Source Sans Pro", sans-serif;
	margin-bottom: .5em;
}

.frontmatter-container .frontmatter-section-label {
	color: var(--black-80);
	font-size: .8em;
	font-weight: 300;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.frontmatter-container .frontmatter-alias-icon {
	color: var(--cyan);
}

.frontmatter-container .frontmatter-alias {
	background-color: var(--cyan-10);
	letter-spacing: .05em;
}

.frontmatter-container .frontmatter-alias, .fontmatter-container .frontmatter-tag {
	color: var(--black-40) !important;
}

.frontmatter-container .frontmatter-tag-icon .svg-icon {
	width: 10px;
	height: 10px;
	stroke-width: 2px;
}

.frontmatter-container .frontmatter-section-aliases, .frontmatter-container .frontmatter-section-tags {
	gap: .5em;
}

.frontmatter-container .frontmatter-section-tags .tag {
	display: flex;
}

/** HIGHLIGHTS & MARKS **/
.markdown-rendered mark.hltr-yellow {
	background-color: var(--yellow-20);
}

.markdown-rendered mark.hltr-orange {
	background-color: var(--orange-20);
}

.markdown-rendered mark.hltr-red {
	background-color: var(--red-20);
}

.markdown-rendered mark.hltr-magenta {
	background-color: var(--magenta-20);
}

.markdown-rendered mark.hltr-purple {
	background-color: var(--purple-20);
}

.markdown-rendered mark.hltr-blue {
	background-color: var(--blue-20);
}

.markdown-rendered mark.hltr-cyan {
	background-color: var(--cyan-20);
}

.markdown-rendered mark.hltr-teal {
	background-color: var(--teal-20);
}

.markdown-rendered mark.hltr-green {
	background-color: var(--green-20);
}

/** IMAGES **/
img:not(.emoji, .floaterL img, .floaterR img, .leaflet-marker-icon), 
.markdown-source-view.mod-cm6.is-readable-line-width .cm-content>img[width] {
	display:block;
	margin: 0 auto !important;
}

.floaterL {
	display: block;
	float:left;
	margin-right: 1.5em !important;
	margin-top: 0.5em;
	z-index: 1000;
}

.floaterR {
	display: block;
	float:right;
	margin-left: 1.5em;
	margin-top: 0.5em;
	z-index: 1000;
}

/** MAPS **/
#map, .map {
	min-height: 500px;
	z-index: 1;
}

#adrilos.map {
	height: 900px;
}

.leaflet-container {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
}

/**** MARKERS ****/
.leaflet-marker-icon {
	stroke: white;
	stroke-width: 20px;
}

.city {
	fill: var(--magenta-40);
}

.cityMajor {
	fill: var(--magenta);
}

.encounter {
	fill: var(--yellow);
}

.pinpoint, .tower {
	fill: var(--blue);
}

.setting {
	fill: var(--purple);
}

.thumbtack {
	fill: var(--orange);
}

.leaflet-tooltip {
	background-color: var(--cyan) !important;
	border-color: var(--cyan) !important;
	color: white !important;
	font-size: 1em;
	text-align: center;
}

.leaflet-tooltip-top:before {
	border-top-color: var(--cyan) !important;
}

/** SCROLLBAR **/
body:not(.hider-scrollbars).styled-scrollbars ::-webkit-scrollbar, body:not(.native-scrollbars) ::-webkit-scrollbar {
	width: 0px !important;
}

/** SEARCH BOX **/
.search-box, .search-box input, input[type=search] {
	border-radius: 0;
}

.search-container.active {
	z-index: 1001;
}

.search-container {
	background-color: rgba(0, 174, 239, .25); /*cyan*/
}

#search-results .searchresult {
	border-radius: 0px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1em;
	font-weight: 300;
	padding: 1.5em;
}

.header-meta a {
	margin-right: .5em;
}

/** SIDEBAR **/
.sidebar {
	margin-right: 2em;
}

/**** LINK GRAPH ****/
.sidebar .graph {
	min-height: 280px;
	width: 280px;
}

.graph {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
}

.graph .graph-title-container {
	width: 280px !important;
}

.graph .graph-title {
	display: none;
}

.sidebar .graph-fs, #full-graph, #link-graph {
	border-radius: 0px;
}

.sidebar .graph #link-graph:not(.graph-fs #link-graph) {
	background: transparent !important;
	border: 1px solid var(--black-10);
	height: 280px;
	width: 280px;
}

/*#link-graph .force-graph-container canvas {
	height: 280px !important;
	width: 280px !important;
}*/

#graph-controls .depth-control {
	align-contents: center;
}

#graph-controls .depth-control label {
	font-size: .8em;
}

#graph-controls .depth-control .slider {
	margin-top: -0.5em;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: 0px !important;
}

/**** TOC & BACKLINKS ****/
.toc, .backlinks {
	margin-bottom: 1em;
	  -ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.toc-container {
	max-height: 360px;
}

.toc-title-container .toc-title, .backlinks .backlink-title {
	color: var(--blue-60) !important;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px !important;
}

.markdown-preview-view .toc ul {
	margin-block-start: 0em !important;
}

.toc ul>li {
	padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.toc::-webkit-scrollbar, .backlinks::-webkit-scrollbar {
	display: none;
}

#tooltip-wrapper {
	max-width: 600px !important;
}

/** STICKY NOTES **/
.sticky {
	background-color: var(--yellow-40);
	border-radius: 0;
	box-shadow: 0 4px 5px var(--black-20);
	color: var(--black);
	float: right;
	font-family: "Zeyada", cursive;
	font-size: 1.45em;
	line-height: 1.2;
	margin: .5em -1em 1em 1.25em;
	max-width: 500px;
	min-width: 275px;
	min-height: 275px;
	overflow: visible;
	padding: 1.5em .75em .75em;
	position: relative;
	/*right: -1em;
	text-align: center;*/
	transition: width 2s;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(2deg);
	transition: all 2s ease;
	vertical-align: top;
	width: max(180px, 30%);
	z-index: 1;
}
  
.sticky::before {
	display: block;
	content: "";
	background: rgba(233, 233, 233, 0.4);
	width: 64%;
	height: 40px;
	box-shadow: 0 1px 1px rgba(35, 31, 32, 0.2);
	border-radius: 6px/18px 0;
	position: absolute;
	top: -20px;
	left: 20%;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

.sticky a {
	font-size: .55em !important;
}
  
.sticky.left {
	float: left !important;
	/*left:-1em;*/
	margin-left: -1em;
	margin-right: 1.5em;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(-2deg);
}

.sticky.orange {
	background-color: var(--orange-40);
}

.sticky.red {
	background-color: var(--red-40);
}
    
.sticky.magenta {
	background-color: var(--magenta-20);
}

.sticky.purple {
	background-color: var(--purple-20);
}

.sticky.blue {
	background-color: var(--blue-20);
}
  
.sticky.cyan {
	background-color: var(--cyan-20);
}

.sticky.teal {
	background-color: var(--teal-20);
}

.sticky.green {
	background-color: var(--green-20);
}

/** TABLES **/
table {
	border-top: 1px solid var(--blue-40) !important;
	border-bottom: 1px solid var(--blue-40) !important;
	border-collapse: collapse;
	font-family: "Source Sans Pro", sans-serif;
	font-size: .8em;
	font-weight: 300;
	margin: 2.5em 0 5em !important;
	table-layout: auto;
	width: 100%
}

th, .markdown-rendered th, .dataview.table-view-table th {
	color: var(--blue) !important;
	font-weight: 700 !important;
	letter-spacing: .1em;
	text-transform: uppercase;
}

th:first-child:not(.callout[data-callout~=statblock] table th),
td:first-child:not(.callout[data-callout~=statblock] table td) {
	padding-left: 12px !important;
}

th:last-child:not(.callout[data-callout~=statblock] table th),
td:last-child:not(.callout[data-callout~=statblock] table td) {
	padding-right: 12px !important;
}

th:not(.callout[data-callout~=statblock] table th),
td:not(.callout[data-callout~=statblock] table th) {
	border: none !important;
	padding: 12px !important;
}

td {
	font-family: 300;
}

.markdown-rendered tbody>tr:nth-child(odd) {
	background-color: var(--cyan-2_5);
}

.markdown-rendered tbody>tr:hover, .table-view-table > tbody > tr:hover,
body:not(.row-hover) .table-view-table>tbody>tr:hover {
	background-color: var(--cyan-5) !important;
	color: var(--blue);
}

/** TIMELINE **/
.timeline {
    margin: 2em auto !important;
    max-width: 800px;
    position: relative;
}

.timeline::after {
    background-color: var(--black-20);
    bottom: 0;
    content: '';
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: -1;
}

.timeline-item {
    background-color: white;
    display: flex;
    max-width: 400px;
}

.timeline-content {
	border: 1px solid var(--timeline-icon-color);
	font-size: .8em;
	width: 100%;
}

.timeline-content-head {
    align-items: center;
    background-color: var(--timeline-color);
    display: flex;
    gap: 1em;
    padding: .5em 1.5em;
    position: relative;
}

.timeline-content.yellow {
    --timeline-color: var(--yellow-20);
    --timeline-icon-color: var(--color-yellow);
}

.timeline-content.orange {
    --timeline-color: var(--orange-20);
    --timeline-icon-color: var(--orange);
}

.timeline-content.red {
    --timeline-color: var(--red-20);
    --timeline-icon-color: var(--red);
}

.timeline-content.magenta {
    --timeline-color: var(--magenta-20);
    --timeline-icon-color: var(--magenta);
}

.timeline-content.purple {
    --timeline-color: var(--purple-20);
    --timeline-icon-color: var(--purple);
}

.timeline-content.blue {
    --timeline-color: var(--blue-20);
    --timeline-icon-color: var(--blue);
}

.timeline-content.cyan {
    --timeline-color: var(--cyan-20);
    --timeline-icon-color: var(--cyan);
}

.timeline-content.teal {
    --timeline-color: var(--teal-20);
    --timeline-icon-color: var(--teal);
}

.timeline-content-head-icon, .timeline-content-head-icon svg {
    stroke: var(--timeline-icon-color);
    height: 40px;
    width: 40px;
}

.timeline-content-head-date {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	margin-bottom: 0.25em;
}

.timeline-content-head-title {
    color: var(--timeline-icon-color);
    font-family: "Source Serif Pro", serif;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .25em;
    white-space: pre-wrap;
}

.timeline-content-body {
    padding: 1.5em;
}

.timeline-content p {
	margin-block-start: -0.25em;
	margin-block-end: .5em;
}

.timeline-content a {
    border: 2px solid var(--timeline-icon-color);
    color: var(--timeline-icon-color);
    font-family: "Source Code Pro", monospace;
    font-size: .8em;
    font-weight: 600;
    letter-spacing: .1em;
    padding: 0.25em 1em;
    text-align: center;
    text-transform: uppercase;
}

.timeline-content a:hover {
    color: var(--blue);
}

@media screen and (min-width: 840px) {
    .timeline-item {
        width: 45%;
    }
    
    .timeline-item:nth-child(odd) {
        margin-right: 5%;
    }

    .timeline-item:nth-child(even) {
        margin-left: 55%;
    }
    
    .timeline-content-head:before {
        background-color: var(--black-20);
        border: 4px solid white;
        border-radius: 50%;
        content: "";
        height: 9px;
        position: absolute;
        width: 9px;
        z-index: 1;
    }

	.timeline-item:nth-child(odd) .timeline-content-head:before {
		left: 109.25%;
	}

    .timeline-item:nth-child(even) .timeline-content-head:before {
        right: 108.75%;
    }

    .timeline-content-head:after {
        background-color: var(--timeline-color);
        content: " ";
        height: 20px;
        position: absolute;
        width: 20px;
        z-index: 1;
    }

    .timeline-item:nth-child(odd) .timeline-content-head:after {
        border-right: 1px solid var(--timeline-icon-color);
        border-top: 1px solid var(--timeline-icon-color);
        right: -6%;
        transform: translate(-50%, -1px) rotate(45deg);
    }

    .timeline-item:nth-child(even) .timeline-content-head:after {
        border-bottom: 1px solid var(--timeline-icon-color);
        border-left: 1px solid var(--timeline-icon-color);
        left: -6%;
        transform: translate(50%, -1px) rotate(45deg);
    }
}

@media screen and (max-width: 839px) {
    .timeline-item {
        margin: 0 auto 1.5em;
        min-width: 280px;
    }
}

/** RESPONSIVE **/
@media (min-width: 1401px) {
	.content {
		margin-top: 3%;
	}
	
	.filetree-sidebar, .sidebar {
		width: calc(280px + 1em);
		overflow-x: hidden;
	}
}

@media (max-width: 1399px) {
	.navbar .navbar-inner .logo,
	.navbar .navbar-inner .sitename {
		display: none;
	}
}

@media (min-width: 601px) {
	blockquote, .markdown-preview-view blockquote,
	.markdown-rendered blockquote {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 600px) {
	aside {
		float: none;
		margin: 0 auto !important;
		width: 100%
	}
}

@media (min-width: 401px) {
	blockquote:before {
		font-size: 6em;
		height: 52px;
		width: 60px;
	}
	
	blockquote p {
		margin-left: 4em
	}
}

@media (max-width: 400px) {
	.banner {
		height: 180px;
	}
	
	body, body .content {
		font-size: 18px !important;
	}
	
	blockquote:before {
		font-size: 3em;
		height: 30px;
		width: 30px;
	}
	
	blockquote p {
		margin-left: 2em
	}
	
	.callout {
		padding: 2em 1.5em;
	}
	
	.caption {
		font-size: 12px !important;
	}
	
	.floaterL, .floaterR {
		floater: none !important;
		margin: 1.5em auto !important;
	}
	
	img:not(.banner img):not(.emoji) {
		display: block;
		height: auto;
	}
	
	.sticky, .sticky .left{
		display: inline-block;
		float: none !important;
		margin: 1em !important;
	}
}
